---
- name: Install qimgv (Arch)
  shell: >
    yay -Sy --noconfirm 
    qimgv
  become: true
  become_user: '{{ ansible_user }}'
  when: ansible_facts.distribution == 'Archlinux'
  tags: [ apps, qimgv ]

- name: Create qimgv config directory
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/qimgv"
    state: directory
    mode: '0755'
  tags: [ apps, qimgv, config ]

- name: Copy Qimgv configuration
  ansible.builtin.copy:
    src: "files/home/.config/qimgv/{{ item }}"
    dest: "{{ ansible_user_dir }}/.config/qimgv/{{ item }}"
    mode: '0644'
  loop:
    - qimgv.conf
    - theme.conf
  tags: [ apps, qimgv, config ]
