---
# Handlers for system role

- name: Generate locales
  ansible.builtin.command: locale-gen
  changed_when: true

- name: Restart WireGuard
  systemd:
    name: "wg-quick@wg0"
    state: restarted
    daemon_reload: yes
  become: yes

- name: Restart NetworkManager
  systemd:
    name: NetworkManager
    state: restarted
  become: true
  when: target == 'laptop'

- name: Restart systemd-vconsole-setup
  service:
    name: systemd-vconsole-setup
    state: restarted
  become: true
