---
- name: Test DotArch playbook deployment
  hosts: all
  gather_facts: true
  vars_files:
    - ../../group_vars/all/variables.yml
    - vars.yml

  pre_tasks:
    - name: "Check for a battery device (laptop?)"
      stat:
        path: /sys/class/power_supply/BAT0
      register: bat
      tags: [target-selection]

    - name: "Set target to 'laptop' if battery found, else 'desktop'"
      set_fact:
        target: "{{ 'laptop' if bat.stat.exists else 'desktop' }}"
      tags: [target-selection]

  roles:
    - role: ../../roles/profiles/desktop-hyprland
