---
# Tasks for Hyprland plugins configuration

#-   name: Perform an hyprpm update
#    shell: hyprpm update
#    ignore_errors: yes
#    tags: [ wm, hyprland, plugins ]

#-   name: Install Hyprland plugins using hyprpm
#    shell: |
#        hyprpm add -f {{ item.url }} {{ item.revision }}
#        hyprpm enable -f {{ item.name }}
#    args:
#        executable: /bin/bash
#    with_items:
#        - { name: "hyprfocus", revision: "main", url: "https://github.com/daxisunder/hyprfocus" }
#        - { name: "Hyprspace", revision: "main", url: "https://github.com/KZDKM/Hyprspace" }
#        - { name: "hy3", revision: "hl0.50.0", url: "https://github.com/outfoxxed/hy3" }
#    tags: [ wm, hyprland, plugins ]

- name: Ensure plugins configuration directories exist
  file:
    path: '{{ ansible_user_dir }}/.config/hypr/plugins'
    state: directory
    mode: '0755'
  tags: [ wm, hyprland, plugins ]

- name: Copy plugins configuration files
  copy:
    src: 'home/.config/hypr/plugins/{{ item }}.conf'
    dest: '{{ ansible_user_dir }}/.config/hypr/plugins/{{ item }}.conf'
  with_items:
    - hy3
  #        - hyprfocus
  #        - hyprspace
  tags: [ wm, hyprland, plugins ]
