---
# Tasks for Hyprland tools configuration
- name: Install Hyprland tools from AUR (Arch)
  shell: 'yay -Sy --noconfirm {{ item }}'
  become: yes
  become_user: '{{ ansible_user }}'
  with_items:
    - hyprpaper
    - hyprpicker
    - hyprsunset
    - hypridle
    - hyprlock
  when: ansible_facts.distribution == 'Archlinux'
  tags: [ wm, hyprland, tools ]

- name: Configure Hyprland tools
  ansible.builtin.copy:
    src: 'home/.config/hypr/{{ item }}.conf'
    dest: '{{ ansible_facts["user_dir"] }}/.config/hypr/{{ item }}.conf'
    mode: '0644'
  with_items:
    - hyprsunset
    - hypridle
    - hyprlock
    - hyprpaper
  tags: [ wm, hyprland, tools ]

- name: Ensure required directories exist
  ansible.builtin.file:
    path: '{{ ansible_facts["user_dir"] }}/{{ item }}'
    state: directory
    mode: '0755'
  with_items:
    - 'Images/Wallpapers'
  tags: [ wm, hyprland, tools ]

- name: Copy wallpaper
  ansible.builtin.copy:
    src: 'home/Images/Wallpapers/1.jpg'
    dest: '{{ ansible_facts["user_dir"] }}/Images/Wallpapers/1.jpg'
  tags: [ wm, hyprland, tools, hyprpaper ]

- name: Create hypr scripts directory
  ansible.builtin.file:
    path: '{{ ansible_facts["user_dir"] }}/.config/hypr/scripts'
    state: directory
    mode: '0755'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
  tags: [ wm, hyprland, tools, hyprpaper ]

- name: Copy the hyprpaper rotation script
  ansible.builtin.copy:
    src: 'home/.config/hypr/scripts/random-wallpaper.sh'
    dest: '{{ ansible_facts["user_dir"] }}/.config/hypr/scripts/random-wallpaper.sh'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0755'
  tags: [ wm, hyprland, tools, hyprpaper ]

- name: Create systemd user directory
  ansible.builtin.file:
    path: '{{ ansible_facts["user_dir"] }}/.config/systemd/user'
    state: directory
    mode: '0755'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
  tags: [ wm, hyprland, tools, hyprpaper ]

- name: Copy hyprpaper systemd service file
  ansible.builtin.copy:
    src: 'home/.config/systemd/user/hyprpaper.service'
    dest: '{{ ansible_facts["user_dir"] }}/.config/systemd/user/hyprpaper.service'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0644'
  tags: [ wm, hyprland, tools, hyprpaper ]

- name: Copy hyprpaper systemd timer file
  ansible.builtin.copy:
    src: 'home/.config/systemd/user/hyprpaper.timer'
    dest: '{{ ansible_facts["user_dir"] }}/.config/systemd/user/hyprpaper.timer'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0644'
  tags: [ wm, hyprland, tools, hyprpaper ]

- name: Enable and start hyprpaper timer
  ansible.builtin.systemd:
    name: hyprpaper.timer
    scope: user
    enabled: true
    state: started
    daemon_reload: yes
  become: yes
  become_user: '{{ ansible_user }}'
  tags: [ wm, hyprland, tools, hyprpaper ]

- name: Enable and start hyprpaper timer
  systemd:
    name: hyprpaper.timer
    scope: user
    enabled: yes
    state: started
    daemon_reload: yes
  become: yes
  become_user: '{{ ansible_user }}'
  tags: [ wm, hyprland, tools, hyprpaper ]

- name: Copy workspace cycler script
  ansible.builtin.copy:
    src: 'home/.config/hypr/scripts/workspace-cycler.sh'
    dest: '{{ ansible_facts["user_dir"] }}/.config/hypr/scripts/workspace-cycler.sh'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0755'
  tags: [ wm, hyprland, tools ]
