---
# Tasks for Hyprland tools configuration
-   name: Install Hyprland tools from AUR
    shell: 'yay -Sy --noconfirm {{ item }}'
    become: yes
    become_user: '{{ username }}'
    with_items:
        - hyprpaper
        - hyprpicker
        - hyprsunset
        - hypridle
        - hyprlock
    tags: [ wm, hyprland, tools ]

-   name: Configure Hyprland tools
    copy:
        src: 'home/.config/hypr/{{ item }}.conf'
        dest: '/home/{{ username }}/.config/hypr/{{ item }}.conf'
        mode: '0644'
    with_items:
        - hyprsunset
        - hypridle
        - hyprlock
        - hyprpaper
    tags: [ wm, hyprland, tools ]

-   name: Ensure required directories exist
    file:
        path: '/home/{{ username }}/{{ item }}'
        state: directory
        mode: '0755'
    with_items:
        - 'Images/Wallpapers'
    tags: [ wm, hyprland, tools ]

-   name: Copy wallpaper
    copy:
        src: 'home/Images/Wallpapers/1.jpg'
        dest: '/home/{{ username }}/Images/Wallpapers/1.jpg'
    tags: [ wm, hyprland, tools, hyprpaper ]

-   name: Create hypr scripts directory
    file:
        path: '/home/{{ username }}/.config/hypr/scripts'
        state: directory
        mode: '0755'
        owner: '{{ username }}'
        group: '{{ username }}'
    tags: [ wm, hyprland, tools, hyprpaper ]

-   name: Copy the hyprpaper rotation script
    copy:
        src: 'home/.config/hypr/scripts/hyprpaper-hourly.sh'
        dest: '/home/{{ username }}/.config/hypr/scripts/hyprpaper-hourly.sh'
        owner: '{{ username }}'
        group: '{{ username }}'
        mode: '0755'
    tags: [ wm, hyprland, tools, hyprpaper ]

-   name: Create systemd user directory
    file:
        path: '/home/{{ username }}/.config/systemd/user'
        state: directory
        mode: '0755'
        owner: '{{ username }}'
        group: '{{ username }}'
    tags: [ wm, hyprland, tools, hyprpaper ]

-   name: Copy hyprpaper systemd service file
    copy:
        src: 'home/.config/systemd/user/hyprpaper.service'
        dest: '/home/{{ username }}/.config/systemd/user/hyprpaper.service'
        owner: '{{ username }}'
        group: '{{ username }}'
        mode: '0644'
    tags: [ wm, hyprland, tools, hyprpaper ]

-   name: Copy hyprpaper systemd timer file
    copy:
        src: 'home/.config/systemd/user/hyprpaper.timer'
        dest: '/home/{{ username }}/.config/systemd/user/hyprpaper.timer'
        owner: '{{ username }}'
        group: '{{ username }}'
        mode: '0644'
    tags: [ wm, hyprland, tools, hyprpaper ]

-   name: Enable and start hyprpaper timer
    systemd:
        name: hyprpaper.timer
        scope: user
        enabled: yes
        state: started
        daemon_reload: yes
    become: yes
    become_user: '{{ username }}'
    tags: [ wm, hyprland, tools, hyprpaper ]

-   name: Enable and start hyprpaper timer
    systemd:
        name: hyprpaper.timer
        scope: user
        enabled: yes
        state: started
        daemon_reload: yes
    become: yes
    become_user: '{{ username }}'
    tags: [ wm, hyprland, tools, hyprpaper ]
