---
# Apps Bitwarden role - Bitwarden password manager
# This role manages Bitwarden CLI and desktop app

- name: Install Bitwarden CLI (Arch)
  become: true
  community.general.pacman:
    name: bitwarden-cli
    state: present
  when: ansible_facts.distribution == 'Archlinux'
  tags: [ apps ]

- name: Install Bitwarden desktop app (Arch)
  become: true
  community.general.pacman:
    name: bitwarden
    state: present
  when: ansible_facts.distribution == 'Archlinux'
  tags: [ apps ]