---
# Desktop File Manager role - file manager configuration
# This role manages Yazi file manager setup

- name: Install Yazi and dependencies (Arch)
  become: true
  community.general.pacman:
    name:
      - yazi
      - poppler # For PDF preview
      - atool   # For archive extraction
      - 7zip    # For archive preview
      - jq      # For JSON preview
    state: present
  when: ansible_facts.distribution == 'Archlinux'
  tags: [ desktop, filemanager, yazi, package ]

- name: Create Yazi config directory
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/yazi"
    state: directory
    mode: '0755'
  tags: [ desktop, filemanager, yazi, config ]

- name: Create Yazi flavor directory
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/yazi/flavors/dracula-dark.yazi"
    state: directory
    mode: '0755'
  tags: [ desktop, filemanager, yazi, config ]

- name: Copy Yazi configurations
  ansible.builtin.copy:
    src: "files/home/.config/yazi/{{ item }}"
    dest: "{{ ansible_facts['user_dir'] }}/.config/yazi/{{ item }}"
    mode: '0644'
  loop:
    - yazi.toml
    - keymap.toml
    - theme.toml
    - init.lua
  tags: [ desktop, filemanager, yazi, config ]

- name: Copy Yazi flavor configuration
  ansible.builtin.copy:
    src: home/.config/yazi/flavors/dracula-dark.yazi/flavor.toml
    dest: "{{ ansible_facts['user_dir'] }}/.config/yazi/flavors/dracula-dark.yazi/flavor.toml"
    mode: '0644'
  tags: [ desktop, filemanager, yazi, config ]

- name: Install Yazi integrations (AUR)
  shell: >
    yay -S --noconfirm 
    dragon-drop 
    xdg-desktop-portal-termfilechooser-git
  become: true
  become_user: '{{ ansible_user }}'
  when: ansible_facts.distribution == 'Archlinux'
  tags: [ desktop, filemanager, yazi, package ]

- name: Install Yazi chooser script
  become: true
  ansible.builtin.copy:
    src: "files/usr/local/bin/yazi-chooser"
    dest: "/usr/local/bin/yazi-chooser"
    mode: '0755'
  tags: [ desktop, filemanager, yazi, config ]

- name: Configure termfilechooser
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/xdg-desktop-portal-termfilechooser"
    state: directory
    mode: '0755'
  tags: [ desktop, filemanager, yazi, config ]

- name: Copy termfilechooser config
  ansible.builtin.copy:
    src: "files/home/.config/xdg-desktop-portal-termfilechooser/config"
    dest: "{{ ansible_facts['user_dir'] }}/.config/xdg-desktop-portal-termfilechooser/config"
    mode: '0644'
  tags: [ desktop, filemanager, yazi, config ]