---
- name: Install pipewire and related packages
  community.general.pacman:
    name:
      - alsa-utils
      - pipewire
      - pipewire-pulse
      - pipewire-alsa
      - pipewire-jack
      - gst-plugin-pipewire
      - libpulse
      - wireplumber
      - pulsemixer
    state: present
  become: true

- name: Start Pipewire services
  systemd:
    name: '{{ item }}'
    state: started
    enabled: yes
    scope: user
  loop:
    - pipewire
    - pipewire-pulse

- name: Enable WirePlumber
  systemd:
    name: wireplumber
    state: started
    enabled: yes
    scope: user
