---
# Main Hyprland configuration tasks

-   name: Install Hyprland and core components
    package:
        name:
            - hyprland
            - hyprland-protocols
            - xdg-desktop-portal-hyprland
            - libva-nvidia-driver
            - polkit-kde-agent
            - qt5-wayland
            - qt6-wayland
            - cmake
            - meson
            - cpio
            - pkg-config
            - git
            - gcc
        state: present
    become: yes
    tags: [ wm, hyprland, core ]

-   name: Create base configuration directories
    file:
        path: '/home/{{ username }}/{{ item }}'
        state: directory
        mode: '0755'
    with_items:
        - '.config/hypr'
        - '.config/hypr/plugins'
        - '.config/hypr/scripts'
    tags: [ wm, hyprland, core, directory ]

-   name: Copy hyprland configuration files
    copy:
        src: 'home/.config/hypr/{{ item }}'
        dest: '/home/{{ username }}/.config/hypr/{{ item }}'
        mode: '0644'
    with_items:
        - 'hyprland.conf'
        - 'keybindings.conf'
    tags: [ wm, hyprland, config, core ]

-   name: Copy xdph-launcher script
    copy:
        src: usr/local/bin/xdph-launcher.sh
        dest: /usr/local/bin/xdph-launcher.sh
        owner: root
        group: root
        mode: '0755'
    become: true
    tags: [ wm, hyprland, xdph ]
