---
# Tasks for Satty screenshot tool configuration

-   name: Install screenshot tools
    package:
        name: "{{ item }}"
        state: present
    become: yes
    with_items:
        - hyprshot
        - satty
    tags: [ wm, hyprland, hyprshot, satty, screenshot ]

-   name: Ensure satty config directory exists
    file:
        path: '/home/{{ username }}/.config/satty'
        state: directory
        mode: '0755'
    tags: [ wm, hyprland, screenshot, satty, directory ]

-   name: Copy satty configuration file
    copy:
        src: 'home/.config/satty/config.toml'
        dest: '/home/{{ username }}/.config/satty/config.toml'
        mode: '0644'
    tags: [ wm, hyprland, screenshot, satty, config ]

-   name: Install wl-screenrec for video recording
    shell: 'yay -Sy --noconfirm wl-screenrec-git'
    become: yes
    become_user: '{{ username }}'
    tags: [ wm, hyprland, screenshot ]

-   name: Ensure wl-screenrec config directory exists
    file:
        path: '/home/{{ username }}/.config/wl-screenrec'
        state: directory
        mode: '0755'
    tags: [ wm, hyprland, screenshot, wl-screenrec ]

-   name: Copy wl-screenrec configuration file
    copy:
        src: 'home/.config/wl-screenrec/config.toml'
        dest: '/home/{{ username }}/.config/wl-screenrec/config.toml'
        mode: '0644'
    tags: [ wm, hyprland, screenshot, wl-screenrec ]
